@font-face {
  font-family: 'dl-icons';
  src:  url('fonts/dl-icons.eot?pdhqm4');
  src:  url('fonts/dl-icons.eot?pdhqm4#iefix') format('embedded-opentype'),
    url('fonts/dl-icons.ttf?pdhqm4') format('truetype'),
    url('fonts/dl-icons.woff?pdhqm4') format('woff'),
    url('fonts/dl-icons.svg?pdhqm4#dl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-dl-"], [class*=" icon-dl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dl-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dl-1:before {
  content: "\e900";
}
.icon-dl-2:before {
  content: "\e901";
}
.icon-dl-3:before {
  content: "\e902";
}
.icon-dl-3d-rotate:before {
  content: "\e903";
}
.icon-dl-4:before {
  content: "\e904";
}
.icon-dl-5:before {
  content: "\e905";
}
.icon-dl-5-sec-back:before {
  content: "\e906";
}
.icon-dl-5-sec-next:before {
  content: "\e907";
}
.icon-dl-account:before {
  content: "\e908";
}
.icon-dl-add:before {
  content: "\e909";
}
.icon-dl-add-filled:before {
  content: "\e90a";
}
.icon-dl-add-folder:before {
  content: "\e90b";
}
.icon-dl-add-user:before {
  content: "\e90c";
}
.icon-dl-adjustment:before {
  content: "\e90d";
}
.icon-dl-agriculture:before {
  content: "\e90e";
}
.icon-dl-ai:before {
  content: "\e90f";
}
.icon-dl-ai21-labs-dark .path1:before {
  content: "\e910";
  color: rgb(238, 238, 238);
}
.icon-dl-ai21-labs-dark .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-dl-ai21-labs-dark .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-dl-ai21-labs-dark .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(238, 238, 238);
}
.icon-dl-ai21-labs-dark .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-dark .path6:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-dark .path7:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-dark .path8:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-light .path1:before {
  content: "\e918";
  color: rgb(31, 33, 39);
}
.icon-dl-ai21-labs-light .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(31, 33, 39);
}
.icon-dl-ai21-labs-light .path3:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(31, 33, 39);
}
.icon-dl-ai21-labs-light .path4:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(31, 33, 39);
}
.icon-dl-ai21-labs-light .path5:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-light .path6:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-light .path7:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-ai21-labs-light .path8:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(233, 30, 99);
}
.icon-dl-alert:before {
  content: "\e920";
}
.icon-dl-alert-filled:before {
  content: "\e921";
}
.icon-dl-align-left:before {
  content: "\e922";
}
.icon-dl-all-type:before {
  content: "\e923";
}
.icon-dl-all-type-outline:before {
  content: "\e924";
}
.icon-dl-amd:before {
  content: "\e925";
  color: #00a774;
}
.icon-dl-american_express .path1:before {
  content: "\e926";
  color: rgb(255, 255, 255);
}
.icon-dl-american_express .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-american_express .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(5, 113, 193);
}
.icon-dl-american_express .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path8:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(5, 113, 193);
}
.icon-dl-american_express .path9:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path10:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path11:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path12:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path13:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path14:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path15:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path16:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path17:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path18:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path19:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path20:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path21:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path22:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-analytics:before {
  content: "\e93c";
}
.icon-dl-analytics-outline:before {
  content: "\e93d";
}
.icon-dl-anchor:before {
  content: "\e93e";
}
.icon-dl-annotation-filled:before {
  content: "\e93f";
}
.icon-dl-annotation-filled-1:before {
  content: "\e940";
}
.icon-dl-annotation-outline:before {
  content: "\e941";
}
.icon-dl-annotation-outline-1:before {
  content: "\e942";
}
.icon-dl-annotation-studio:before {
  content: "\e943";
}
.icon-dl-annotation-studio-filled:before {
  content: "\e944";
}
.icon-dl-announcement:before {
  content: "\e945";
}
.icon-dl-anthropic:before {
  content: "\e946";
}
.icon-dl-api:before {
  content: "\e947";
}
.icon-dl-api-outline:before {
  content: "\e948";
}
.icon-dl-approve:before {
  content: "\e949";
}
.icon-dl-approve-filled:before {
  content: "\e94a";
}
.icon-dl-apps:before {
  content: "\e94b";
}
.icon-dl-apps-filled:before {
  content: "\e94c";
}
.icon-dl-archive:before {
  content: "\e94d";
}
.icon-dl-arrow-down:before {
  content: "\e94e";
}
.icon-dl-arrow-left:before {
  content: "\e94f";
}
.icon-dl-arrow-right:before {
  content: "\e950";
}
.icon-dl-arrow-up:before {
  content: "\e951";
}
.icon-dl-assignment:before {
  content: "\e952";
}
.icon-dl-assignment-filled:before {
  content: "\e953";
}
.icon-dl-at:before {
  content: "\e954";
}
.icon-dl-attach:before {
  content: "\e955";
}
.icon-dl-attribute:before {
  content: "\e956";
}
.icon-dl-audio:before {
  content: "\e957";
}
.icon-dl-audio-filled:before {
  content: "\e958";
}
.icon-dl-audit:before {
  content: "\e959";
}
.icon-dl-audit-outline:before {
  content: "\e95a";
}
.icon-dl-avatar:before {
  content: "\e95b";
}
.icon-dl-aws-dark .path1:before {
  content: "\e95c";
  color: rgb(255, 255, 255);
}
.icon-dl-aws-dark .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-dark .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-light .path1:before {
  content: "\e95f";
  color: rgb(37, 47, 62);
}
.icon-dl-aws-light .path2:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-light .path3:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-azure .path1:before {
  content: "\e962";
  color: rgb(0, 0, 0);
}
.icon-dl-azure .path2:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(0, 120, 212);
}
.icon-dl-azure .path3:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-azure .path4:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-azure-ai:before {
  content: "\e966";
}
.icon-dl-back:before {
  content: "\e967";
}
.icon-dl-back-frame:before {
  content: "\e968";
}
.icon-dl-bar-chart:before {
  content: "\e969";
}
.icon-dl-big-code .path1:before {
  content: "\e96a";
  color: rgb(0, 0, 0);
}
.icon-dl-big-code .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(33, 35, 61);
}
.icon-dl-big-code .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(33, 35, 61);
}
.icon-dl-big-code .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(33, 35, 61);
}
.icon-dl-billing:before {
  content: "\e96e";
}
.icon-dl-billing-outline:before {
  content: "\e96f";
}
.icon-dl-blur:before {
  content: "\e970";
}
.icon-dl-book:before {
  content: "\e971";
}
.icon-dl-box:before {
  content: "\e972";
}
.icon-dl-broken:before {
  content: "\e973";
}
.icon-dl-brush:before {
  content: "\e974";
}
.icon-dl-brush-filled:before {
  content: "\e975";
}
.icon-dl-bucket-filled:before {
  content: "\e976";
}
.icon-dl-camera-helper:before {
  content: "\e977";
}
.icon-dl-card-view:before {
  content: "\e978";
}
.icon-dl-caret-down:before {
  content: "\e979";
}
.icon-dl-caret-left:before {
  content: "\e97a";
}
.icon-dl-caret-right:before {
  content: "\e97b";
}
.icon-dl-caret-up:before {
  content: "\e97c";
}
.icon-dl-cart:before {
  content: "\e97d";
}
.icon-dl-change-view:before {
  content: "\e97e";
}
.icon-dl-chat-ai:before {
  content: "\e97f";
}
.icon-dl-clahe:before {
  content: "\e980";
}
.icon-dl-classification:before {
  content: "\e981";
}
.icon-dl-claude:before {
  content: "\e982";
  color: #d97757;
}
.icon-dl-clone:before {
  content: "\e983";
}
.icon-dl-close:before {
  content: "\e984";
}
.icon-dl-cloud-editor:before {
  content: "\e985";
}
.icon-dl-cloud-editor-filled:before {
  content: "\e986";
}
.icon-dl-cloud-ops:before {
  content: "\e987";
}
.icon-dl-cloud-server:before {
  content: "\e988";
}
.icon-dl-cloud-storage:before {
  content: "\e989";
}
.icon-dl-cloud-storage-filled:before {
  content: "\e98a";
}
.icon-dl-code:before {
  content: "\e98b";
}
.icon-dl-cohere .path1:before {
  content: "\e98c";
  color: rgb(57, 89, 77);
}
.icon-dl-cohere .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(209, 142, 226);
}
.icon-dl-cohere .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 119, 89);
}
.icon-dl-coins:before {
  content: "\e98f";
}
.icon-dl-collapse:before {
  content: "\e990";
}
.icon-dl-collapse-3:before {
  content: "\e991";
}
.icon-dl-collapse-all:before {
  content: "\e992";
}
.icon-dl-collection:before {
  content: "\e993";
}
.icon-dl-collection-outline:before {
  content: "\e994";
}
.icon-dl-colors:before {
  content: "\e995";
}
.icon-dl-column:before {
  content: "\e996";
}
.icon-dl-command:before {
  content: "\e997";
}
.icon-dl-compare:before {
  content: "\e998";
}
.icon-dl-confetti .path1:before {
  content: "\e999";
  color: rgb(41, 206, 246);
}
.icon-dl-confetti .path2:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(247, 142, 54);
}
.icon-dl-confetti .path3:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(248, 111, 27);
}
.icon-dl-confetti .path4:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path5:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path6:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path7:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path8:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path9:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path10:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path11:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-confetti .path12:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path13:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-confetti .path14:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 195, 40);
}
.icon-dl-confetti .path15:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-dl-confetti .path16:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 195, 40);
}
.icon-dl-confetti .path17:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-dl-confetti .path18:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(41, 206, 246);
}
.icon-dl-confetti .path19:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path20:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-consensus-task:before {
  content: "\e9ad";
}
.icon-dl-consensus-task-fill:before {
  content: "\e9ae";
}
.icon-dl-content-media:before {
  content: "\e9af";
}
.icon-dl-contributors-filled:before {
  content: "\e9b0";
}
.icon-dl-contributors-outline:before {
  content: "\e9b1";
}
.icon-dl-conversation:before {
  content: "\e9b2";
}
.icon-dl-copy:before {
  content: "\e9b3";
}
.icon-dl-core42 .path1:before {
  content: "\e9b4";
  color: rgb(1, 65, 65);
}
.icon-dl-core42 .path2:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 211, 170);
}
.icon-dl-corrupt:before {
  content: "\e9b6";
}
.icon-dl-critical:before {
  content: "\e9b7";
}
.icon-dl-crop:before {
  content: "\e9b8";
}
.icon-dl-crown-filled:before {
  content: "\e9b9";
}
.icon-dl-crown-outline:before {
  content: "\e9ba";
}
.icon-dl-cubiod:before {
  content: "\e9bb";
}
.icon-dl-dark-theme:before {
  content: "\e9bc";
}
.icon-dl-dashboard:before {
  content: "\e9bd";
}
.icon-dl-data-browser:before {
  content: "\e9be";
}
.icon-dl-data-management:before {
  content: "\e9bf";
}
.icon-dl-data-management-filled:before {
  content: "\e9c0";
}
.icon-dl-data-science:before {
  content: "\e9c1";
}
.icon-dl-databricks:before {
  content: "\e9c2";
  color: #ee3d2c;
}
.icon-dl-dataloop .path1:before {
  content: "\e9c3";
  color: rgb(0, 0, 0);
}
.icon-dl-dataloop .path2:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-dataloop .path3:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(239, 98, 132);
}
.icon-dl-dataloop .path4:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(239, 98, 132);
}
.icon-dl-dataloop .path5:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-dataloop .path6:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-dataloop .path7:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-dataset:before {
  content: "\e9ca";
}
.icon-dl-dataset-filled:before {
  content: "\e9cb";
}
.icon-dl-date:before {
  content: "\e9cc";
}
.icon-dl-debit .path1:before {
  content: "\e9cd";
  color: rgb(255, 255, 255);
}
.icon-dl-debit .path2:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-debit .path3:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path4:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path5:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path6:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path7:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path8:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path9:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path10:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path11:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debug:before {
  content: "\e9d8";
}
.icon-dl-delete:before {
  content: "\e9d9";
}
.icon-dl-delete-filled:before {
  content: "\e9da";
}
.icon-dl-description:before {
  content: "\e9db";
}
.icon-dl-developer:before {
  content: "\e9dc";
}
.icon-dl-diner .path1:before {
  content: "\e9dd";
  color: rgb(255, 255, 255);
}
.icon-dl-diner .path2:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-diner .path3:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path4:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path5:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon-dl-diner .path6:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon-dl-diner .path7:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path8:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path9:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path10:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path11:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path12:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path13:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path14:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path15:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path16:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path17:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path18:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path19:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path20:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path21:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path22:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path23:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path24:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path25:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path26:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path27:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path28:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path29:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path30:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path31:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path32:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path33:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path34:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path35:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path36:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path37:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path38:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path39:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path40:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path41:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path42:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path43:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path44:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path45:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-discard:before {
  content: "\ea0a";
}
.icon-dl-discard-filled:before {
  content: "\ea0b";
}
.icon-dl-disconnect-all-children:before {
  content: "\ea0c";
}
.icon-dl-disconnect-from-parent:before {
  content: "\ea0d";
}
.icon-dl-disconnection:before {
  content: "\ea0e";
}
.icon-dl-discovery:before {
  content: "\ea0f";
}
.icon-dl-display:before {
  content: "\ea10";
}
.icon-dl-distribution:before {
  content: "\ea11";
}
.icon-dl-distribution-filled:before {
  content: "\ea12";
}
.icon-dl-divide:before {
  content: "\ea13";
}
.icon-dl-donuts:before {
  content: "\ea14";
}
.icon-dl-dot:before {
  content: "\ea15";
}
.icon-dl-dot-menu:before {
  content: "\ea16";
}
.icon-dl-down-chevron:before {
  content: "\ea17";
}
.icon-dl-download:before {
  content: "\ea18";
}
.icon-dl-drag:before {
  content: "\ea19";
}
.icon-dl-drone:before {
  content: "\ea1a";
}
.icon-dl-edit:before {
  content: "\ea1b";
}
.icon-dl-edit-filled:before {
  content: "\ea1c";
}
.icon-dl-ellipse:before {
  content: "\ea1d";
}
.icon-dl-embeddings:before {
  content: "\ea1e";
}
.icon-dl-enter:before {
  content: "\ea1f";
}
.icon-dl-enterprise:before {
  content: "\ea20";
}
.icon-dl-equipment-detection:before {
  content: "\ea21";
}
.icon-dl-eraser-filled:before {
  content: "\ea22";
}
.icon-dl-eraser-freehand:before {
  content: "\ea23";
}
.icon-dl-eraser-outline:before {
  content: "\ea24";
}
.icon-dl-error:before {
  content: "\ea25";
}
.icon-dl-error-filled:before {
  content: "\ea26";
}
.icon-dl-execution:before {
  content: "\ea27";
}
.icon-dl-execution-filled:before {
  content: "\ea28";
}
.icon-dl-expand:before {
  content: "\ea29";
}
.icon-dl-expand-1:before {
  content: "\ea2a";
}
.icon-dl-expand-3:before {
  content: "\ea2b";
}
.icon-dl-expand-4:before {
  content: "\ea2c";
}
.icon-dl-expand-all:before {
  content: "\ea2d";
}
.icon-dl-export:before {
  content: "\ea2e";
}
.icon-dl-export-annotations:before {
  content: "\ea2f";
}
.icon-dl-faas:before {
  content: "\ea30";
}
.icon-dl-faas-outline:before {
  content: "\ea31";
}
.icon-dl-face-detection:before {
  content: "\ea32";
}
.icon-dl-file:before {
  content: "\ea33";
}
.icon-dl-file-filled:before {
  content: "\ea34";
}
.icon-dl-filter:before {
  content: "\ea35";
}
.icon-dl-filter-filled-2:before {
  content: "\ea36";
}
.icon-dl-finish:before {
  content: "\ea37";
}
.icon-dl-first-page:before {
  content: "\ea38";
}
.icon-dl-fit-to-page:before {
  content: "\ea39";
}
.icon-dl-fit-to-screen:before {
  content: "\ea3a";
}
.icon-dl-fit-to-width:before {
  content: "\ea3b";
}
.icon-dl-flag:before {
  content: "\ea3c";
}
.icon-dl-flag-filled:before {
  content: "\ea3d";
}
.icon-dl-flip-image:before {
  content: "\ea3e";
}
.icon-dl-float:before {
  content: "\ea3f";
}
.icon-dl-focus:before {
  content: "\ea40";
}
.icon-dl-folder:before {
  content: "\ea41";
}
.icon-dl-folder-filled:before {
  content: "\ea42";
}
.icon-dl-front-view:before {
  content: "\ea43";
}
.icon-dl-fsx .path1:before {
  content: "\ea44";
  color: rgb(0, 0, 0);
}
.icon-dl-fsx .path2:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-full-screen:before {
  content: "\ea46";
}
.icon-dl-function:before {
  content: "\ea47";
}
.icon-dl-gcp .path1:before {
  content: "\ea48";
  color: rgb(234, 67, 53);
}
.icon-dl-gcp .path2:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-gcp .path3:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-dl-gcp .path4:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-dl-gemini:before {
  content: "\ea4c";
}
.icon-dl-gemma:before {
  content: "\ea4d";
}
.icon-dl-generate:before {
  content: "\ea4e";
}
.icon-dl-getty-images-dark:before {
  content: "\ea4f";
  color: #fff;
}
.icon-dl-getty-images-light:before {
  content: "\ea50";
}
.icon-dl-github:before {
  content: "\ea51";
}
.icon-dl-global:before {
  content: "\ea52";
}
.icon-dl-google .path1:before {
  content: "\ea53";
  color: rgb(66, 133, 244);
}
.icon-dl-google .path2:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-dl-google .path3:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(251, 188, 4);
}
.icon-dl-google .path4:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-dl-governance-filled:before {
  content: "\ea57";
}
.icon-dl-governance-outline:before {
  content: "\ea58";
}
.icon-dl-gradio:before {
  content: "\ea59";
}
.icon-dl-group:before {
  content: "\ea5a";
}
.icon-dl-group-filled:before {
  content: "\ea5b";
}
.icon-dl-grouping:before {
  content: "\ea5c";
}
.icon-dl-hamburger-menu:before {
  content: "\ea5d";
}
.icon-dl-hide:before {
  content: "\ea5e";
}
.icon-dl-hide-filled:before {
  content: "\ea5f";
}
.icon-dl-high-quality:before {
  content: "\ea60";
}
.icon-dl-history:before {
  content: "\ea61";
}
.icon-dl-home:before {
  content: "\ea62";
}
.icon-dl-hourglass:before {
  content: "\ea63";
}
.icon-dl-hub:before {
  content: "\ea64";
}
.icon-dl-hub-filled:before {
  content: "\ea65";
}
.icon-dl-hugging-face .path1:before {
  content: "\ea66";
  color: rgb(255, 255, 255);
}
.icon-dl-hugging-face .path2:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(255, 157, 0);
}
.icon-dl-hugging-face .path3:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(255, 210, 30);
}
.icon-dl-hugging-face .path4:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(50, 52, 61);
}
.icon-dl-hugging-face .path5:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(255, 50, 61);
}
.icon-dl-hugging-face .path6:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(255, 173, 3);
}
.icon-dl-ibm-dark:before {
  content: "\ea6c";
  color: #eee;
}
.icon-dl-ibm-light:before {
  content: "\ea6d";
}
.icon-dl-icon-dl-map-filled:before {
  content: "\ea6e";
}
.icon-dl-icon-dl-map-outlined:before {
  content: "\ea6f";
}
.icon-dl-icon-dl-mongodb .path1:before {
  content: "\ea70";
  color: rgb(1, 31, 43);
}
.icon-dl-icon-dl-mongodb .path2:before {
  content: "\ec01";
  margin-left: -1em;
  color: rgb(70, 234, 110);
}
.icon-dl-icon-dl-singlestore-black:before {
  content: "\ea72";
}
.icon-dl-icon-dl-singlestore-white:before {
  content: "\ea73";
  color: #fff;
}
.icon-dl-id:before {
  content: "\ea74";
}
.icon-dl-image-generation-filled:before {
  content: "\ea75";
}
.icon-dl-image-generation-outline:before {
  content: "\ea76";
}
.icon-dl-image-modification-filled:before {
  content: "\ea77";
}
.icon-dl-image-modification-outline:before {
  content: "\ea78";
}
.icon-dl-import:before {
  content: "\ea79";
}
.icon-dl-import-annotations:before {
  content: "\ea7a";
}
.icon-dl-index-audio:before {
  content: "\ea7b";
}
.icon-dl-info:before {
  content: "\ea7c";
}
.icon-dl-info-filled:before {
  content: "\ea7d";
}
.icon-dl-infokeyboard:before {
  content: "\ea7e";
}
.icon-dl-integer:before {
  content: "\ea7f";
}
.icon-dl-integration:before {
  content: "\ea80";
}
.icon-dl-integration-outline:before {
  content: "\ea81";
}
.icon-dl-intel:before {
  content: "\ea82";
  color: #0e7dc2;
}
.icon-dl-intel-dark .path1:before {
  content: "\ea83";
  color: rgb(0, 199, 253);
}
.icon-dl-intel-dark .path2:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-intel-light .path1:before {
  content: "\ea85";
  color: rgb(4, 105, 171);
}
.icon-dl-intel-light .path2:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-dl-item-filled:before {
  content: "\ea87";
}
.icon-dl-item-outline:before {
  content: "\ea88";
}
.icon-dl-jcb .path1:before {
  content: "\ea89";
  color: rgb(255, 255, 255);
}
.icon-dl-jcb .path2:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-jcb .path3:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(17, 116, 206);
}
.icon-dl-jcb .path4:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(15, 84, 157);
}
.icon-dl-jcb .path5:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(2, 55, 94);
}
.icon-dl-jcb .path6:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path7:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(27, 204, 56);
}
.icon-dl-jcb .path8:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(50, 153, 71);
}
.icon-dl-jcb .path9:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path10:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path11:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(226, 14, 55);
}
.icon-dl-jcb .path12:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(180, 31, 54);
}
.icon-dl-jcb .path13:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(114, 10, 30);
}
.icon-dl-js:before {
  content: "\ea96";
}
.icon-dl-json:before {
  content: "\ea97";
}
.icon-dl-json-node:before {
  content: "\ea98";
}
.icon-dl-jupyter .path1:before {
  content: "\ea99";
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path2:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path3:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path4:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path5:before {
  content: "\ea9d";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path6:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path7:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(78, 78, 78);
}
.icon-dl-jupyter .path8:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(243, 119, 38);
}
.icon-dl-jupyter .path9:before {
  content: "\eaa1";
  margin-left: -1em;
  color: rgb(243, 119, 38);
}
.icon-dl-kaggle:before {
  content: "\eaa2";
}
.icon-dl-keyback:before {
  content: "\eaa3";
}
.icon-dl-keyboard:before {
  content: "\eaa4";
}
.icon-dl-keynext:before {
  content: "\eaa5";
}
.icon-dl-label:before {
  content: "\eaa6";
}
.icon-dl-label-filled:before {
  content: "\eaa7";
}
.icon-dl-labeling-task:before {
  content: "\eaa8";
}
.icon-dl-labeling-task-fill:before {
  content: "\eaa9";
}
.icon-dl-langchain:before {
  content: "\eaaa";
}
.icon-dl-last-page:before {
  content: "\eaab";
}
.icon-dl-launch .path1:before {
  content: "\eaac";
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path2:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(127, 150, 209);
}
.icon-dl-launch .path3:before {
  content: "\eaae";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path4:before {
  content: "\eaaf";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path5:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path6:before {
  content: "\eab1";
  margin-left: -1em;
  color: rgb(78, 106, 255);
}
.icon-dl-launch .path7:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path8:before {
  content: "\eab3";
  margin-left: -1em;
  color: rgb(78, 106, 255);
}
.icon-dl-launch .path9:before {
  content: "\eab4";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path10:before {
  content: "\eab5";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path11:before {
  content: "\eab6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path12:before {
  content: "\eab7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path13:before {
  content: "\eab8";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path14:before {
  content: "\eab9";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path15:before {
  content: "\eaba";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path16:before {
  content: "\eabb";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path17:before {
  content: "\eabc";
  margin-left: -1em;
  color: rgb(0, 222, 147);
}
.icon-dl-launch .path18:before {
  content: "\eabd";
  margin-left: -1em;
  color: rgb(0, 222, 147);
}
.icon-dl-left-chevron:before {
  content: "\eabe";
}
.icon-dl-license:before {
  content: "\eabf";
}
.icon-dl-lidar:before {
  content: "\eac0";
}
.icon-dl-light-theme:before {
  content: "\eac1";
}
.icon-dl-linear:before {
  content: "\eac2";
}
.icon-dl-link:before {
  content: "\eac3";
}
.icon-dl-list-confirm:before {
  content: "\eac4";
}
.icon-dl-list-copy-annotations:before {
  content: "\eac5";
}
.icon-dl-list-view:before {
  content: "\eac6";
}
.icon-dl-loading:before {
  content: "\eac7";
}
.icon-dl-local-database:before {
  content: "\eac8";
}
.icon-dl-lock:before {
  content: "\eac9";
}
.icon-dl-lock-outline:before {
  content: "\eaca";
}
.icon-dl-log-out:before {
  content: "\eacb";
}
.icon-dl-logo-detection:before {
  content: "\eacc";
}
.icon-dl-loop:before {
  content: "\eacd";
}
.icon-dl-magic:before {
  content: "\eace";
}
.icon-dl-marker:before {
  content: "\eacf";
}
.icon-dl-master:before {
  content: "\ead0";
}
.icon-dl-master-filled:before {
  content: "\ead1";
}
.icon-dl-mastercard .path1:before {
  content: "\ead2";
  color: rgb(255, 255, 255);
}
.icon-dl-mastercard .path2:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-mastercard .path3:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(253, 161, 53);
}
.icon-dl-mastercard .path4:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(251, 33, 41);
}
.icon-dl-medical:before {
  content: "\ead6";
}
.icon-dl-members:before {
  content: "\ead7";
}
.icon-dl-members-outline:before {
  content: "\ead8";
}
.icon-dl-merge:before {
  content: "\ead9";
}
.icon-dl-merge-to-origin:before {
  content: "\eada";
}
.icon-dl-meta:before {
  content: "\eadb";
}
.icon-dl-microsoft .path1:before {
  content: "\eadc";
  color: rgb(241, 81, 27);
}
.icon-dl-microsoft .path2:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(128, 204, 40);
}
.icon-dl-microsoft .path3:before {
  content: "\eade";
  margin-left: -1em;
  color: rgb(0, 173, 239);
}
.icon-dl-microsoft .path4:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(251, 188, 9);
}
.icon-dl-minimize:before {
  content: "\eae0";
}
.icon-dl-minus:before {
  content: "\eae1";
}
.icon-dl-mistral-ai .path1:before {
  content: "\eae2";
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path2:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(247, 208, 70);
}
.icon-dl-mistral-ai .path3:before {
  content: "\eae4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path4:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path5:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path6:before {
  content: "\eae7";
  margin-left: -1em;
  color: rgb(247, 208, 70);
}
.icon-dl-mistral-ai .path7:before {
  content: "\eae8";
  margin-left: -1em;
  color: rgb(242, 167, 59);
}
.icon-dl-mistral-ai .path8:before {
  content: "\eae9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path9:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(242, 167, 59);
}
.icon-dl-mistral-ai .path10:before {
  content: "\eaeb";
  margin-left: -1em;
  color: rgb(238, 121, 47);
}
.icon-dl-mistral-ai .path11:before {
  content: "\eaec";
  margin-left: -1em;
  color: rgb(238, 121, 47);
}
.icon-dl-mistral-ai .path12:before {
  content: "\eaed";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path13:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(235, 88, 41);
}
.icon-dl-mistral-ai .path14:before {
  content: "\eaef";
  margin-left: -1em;
  color: rgb(238, 121, 47);
}
.icon-dl-mistral-ai .path15:before {
  content: "\eaf0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path16:before {
  content: "\eaf1";
  margin-left: -1em;
  color: rgb(235, 88, 41);
}
.icon-dl-mistral-ai .path17:before {
  content: "\eaf2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-mistral-ai .path18:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(235, 88, 41);
}
.icon-dl-mistral-ai .path19:before {
  content: "\eaf4";
  margin-left: -1em;
  color: rgb(234, 51, 38);
}
.icon-dl-modality:before {
  content: "\eaf5";
}
.icon-dl-models:before {
  content: "\eaf6";
}
.icon-dl-models-management:before {
  content: "\eaf7";
}
.icon-dl-models-management-filled:before {
  content: "\eaf8";
}
.icon-dl-move-to-folder:before {
  content: "\eaf9";
}
.icon-dl-move-tool:before {
  content: "\eafa";
}
.icon-dl-multi-modal:before {
  content: "\eafb";
}
.icon-dl-mute:before {
  content: "\eafc";
}
.icon-dl-netapp:before {
  content: "\eafd";
  color: #0077c0;
}
.icon-dl-new-window:before {
  content: "\eafe";
}
.icon-dl-next:before {
  content: "\eaff";
}
.icon-dl-next-frame:before {
  content: "\eb00";
}
.icon-dl-nims:before {
  content: "\eb01";
}
.icon-dl-no-output:before {
  content: "\eb02";
}
.icon-dl-node-annotation:before {
  content: "\eb03";
}
.icon-dl-node-predict:before {
  content: "\eb04";
}
.icon-dl-node-train:before {
  content: "\eb05";
}
.icon-dl-note-tool:before {
  content: "\eb06";
}
.icon-dl-notification:before {
  content: "\eb07";
}
.icon-dl-nvidia:before {
  content: "\eb08";
  color: #76b900;
}
.icon-dl-object-detection:before {
  content: "\eb09";
}
.icon-dl-ocr:before {
  content: "\eb0a";
}
.icon-dl-ontology:before {
  content: "\eb0b";
}
.icon-dl-ontology-filled:before {
  content: "\eb0c";
}
.icon-dl-opacity:before {
  content: "\eb0d";
}
.icon-dl-open-ai:before {
  content: "\eb0e";
  color: #74aa9c;
}
.icon-dl-open-folder:before {
  content: "\eb0f";
}
.icon-dl-open-mm-labs:before {
  content: "\eb10";
}
.icon-dl-org-projects:before {
  content: "\eb11";
}
.icon-dl-organization:before {
  content: "\eb12";
}
.icon-dl-organization-outline:before {
  content: "\eb13";
}
.icon-dl-other:before {
  content: "\eb14";
}
.icon-dl-oval:before {
  content: "\eb15";
}
.icon-dl-overview:before {
  content: "\eb16";
}
.icon-dl-package-filled:before {
  content: "\eb17";
}
.icon-dl-palm .path1:before {
  content: "\eb18";
  color: rgb(249, 171, 0);
}
.icon-dl-palm .path2:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(91, 185, 116);
}
.icon-dl-palm .path3:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(18, 158, 175);
}
.icon-dl-palm .path4:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(175, 92, 247);
}
.icon-dl-palm .path5:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(255, 139, 203);
}
.icon-dl-palm .path6:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(250, 123, 23);
}
.icon-dl-palm .path7:before {
  content: "\eb1e";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-pandas .path1:before {
  content: "\eb1f";
  color: rgb(19, 7, 84);
}
.icon-dl-pandas .path2:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(19, 7, 84);
}
.icon-dl-pandas .path3:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(255, 202, 0);
}
.icon-dl-pandas .path4:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(19, 7, 84);
}
.icon-dl-pandas .path5:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(19, 7, 84);
}
.icon-dl-pandas .path6:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(19, 7, 84);
}
.icon-dl-pandas .path7:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(231, 4, 136);
}
.icon-dl-pandas .path8:before {
  content: "\eb26";
  margin-left: -1em;
  color: rgb(19, 7, 84);
}
.icon-dl-panel-resize:before {
  content: "\eb27";
}
.icon-dl-parenting:before {
  content: "\eb28";
}
.icon-dl-paste:before {
  content: "\eb29";
}
.icon-dl-pause:before {
  content: "\eb2a";
}
.icon-dl-pdf:before {
  content: "\eb2b";
}
.icon-dl-pdf-filled:before {
  content: "\eb2c";
}
.icon-dl-pin:before {
  content: "\eb2d";
}
.icon-dl-pin-filled:before {
  content: "\eb2e";
}
.icon-dl-pin-mark:before {
  content: "\eb2f";
}
.icon-dl-pipeline:before {
  content: "\eb30";
}
.icon-dl-pipeline-filled:before {
  content: "\eb31";
}
.icon-dl-plan:before {
  content: "\eb32";
}
.icon-dl-plan-filled:before {
  content: "\eb33";
}
.icon-dl-platform-release-notes:before {
  content: "\eb34";
}
.icon-dl-platform-release-notes-filled:before {
  content: "\eb35";
}
.icon-dl-play:before {
  content: "\eb36";
}
.icon-dl-plus:before {
  content: "\eb37";
}
.icon-dl-point:before {
  content: "\eb38";
}
.icon-dl-poligonal-hand-filled:before {
  content: "\eb39";
}
.icon-dl-polygon:before {
  content: "\eb3a";
}
.icon-dl-polyline:before {
  content: "\eb3b";
}
.icon-dl-pose:before {
  content: "\eb3c";
}
.icon-dl-previous-page:before {
  content: "\eb3d";
}
.icon-dl-private:before {
  content: "\eb3e";
}
.icon-dl-private-compute:before {
  content: "\eb3f";
}
.icon-dl-private-compute-outline:before {
  content: "\eb40";
}
.icon-dl-project:before {
  content: "\eb41";
}
.icon-dl-project-filled:before {
  content: "\eb42";
}
.icon-dl-pulling:before {
  content: "\eb43";
}
.icon-dl-pulling-filled:before {
  content: "\eb44";
}
.icon-dl-python:before {
  content: "\eb45";
}
.icon-dl-pytorch:before {
  content: "\eb46";
  color: #ee4c2c;
}
.icon-dl-qa:before {
  content: "\eb47";
}
.icon-dl-qa-filled:before {
  content: "\eb48";
}
.icon-dl-qa-sampling:before {
  content: "\eb49";
}
.icon-dl-qualcomm:before {
  content: "\eb4a";
  color: #3253dc;
}
.icon-dl-query:before {
  content: "\eb4b";
}
.icon-dl-query-search:before {
  content: "\eb4c";
}
.icon-dl-question:before {
  content: "\eb4d";
}
.icon-dl-queue:before {
  content: "\eb4e";
}
.icon-dl-recipe:before {
  content: "\eb4f";
}
.icon-dl-recipe-filled:before {
  content: "\eb50";
}
.icon-dl-recognize-celebrities:before {
  content: "\eb51";
}
.icon-dl-redo:before {
  content: "\eb52";
}
.icon-dl-refresh:before {
  content: "\eb53";
}
.icon-dl-related:before {
  content: "\eb54";
}
.icon-dl-related-filled:before {
  content: "\eb55";
}
.icon-dl-reload:before {
  content: "\eb56";
}
.icon-dl-rename:before {
  content: "\eb57";
}
.icon-dl-reopen:before {
  content: "\eb58";
}
.icon-dl-replace:before {
  content: "\eb59";
}
.icon-dl-replay:before {
  content: "\eb5a";
}
.icon-dl-rerun:before {
  content: "\eb5b";
}
.icon-dl-reset:before {
  content: "\eb5c";
}
.icon-dl-resize:before {
  content: "\eb5d";
}
.icon-dl-resolution-adjustment:before {
  content: "\eb5e";
}
.icon-dl-restore:before {
  content: "\eb5f";
}
.icon-dl-retriver:before {
  content: "\eb60";
}
.icon-dl-review-task:before {
  content: "\eb61";
}
.icon-dl-review-task-fill:before {
  content: "\eb62";
}
.icon-dl-right-chevron:before {
  content: "\eb63";
}
.icon-dl-right-next-page:before {
  content: "\eb64";
}
.icon-dl-roi-filled:before {
  content: "\eb65";
}
.icon-dl-rotate:before {
  content: "\eb66";
}
.icon-dl-rounded-github:before {
  content: "\eb67";
}
.icon-dl-runway:before {
  content: "\eb68";
}
.icon-dl-salesforce:before {
  content: "\eb69";
  color: #009ddc;
}
.icon-dl-sam:before {
  content: "\eb6a";
}
.icon-dl-save:before {
  content: "\eb6b";
}
.icon-dl-save-as:before {
  content: "\eb6c";
}
.icon-dl-save-filled:before {
  content: "\eb6d";
}
.icon-dl-scale:before {
  content: "\eb6e";
}
.icon-dl-sdk-documentation:before {
  content: "\eb6f";
}
.icon-dl-sdk-release-notes:before {
  content: "\eb70";
}
.icon-dl-search:before {
  content: "\eb71";
}
.icon-dl-secret:before {
  content: "\eb72";
}
.icon-dl-selection:before {
  content: "\eb73";
}
.icon-dl-semantic-filled:before {
  content: "\eb74";
}
.icon-dl-semantic-outline:before {
  content: "\eb75";
}
.icon-dl-services:before {
  content: "\eb76";
}
.icon-dl-services-filled:before {
  content: "\eb77";
}
.icon-dl-settings:before {
  content: "\eb78";
}
.icon-dl-settings-filled:before {
  content: "\eb79";
}
.icon-dl-show:before {
  content: "\eb7a";
}
.icon-dl-show-filled:before {
  content: "\eb7b";
}
.icon-dl-size-position:before {
  content: "\eb7c";
}
.icon-dl-slack .path1:before {
  content: "\eb7d";
  color: rgb(224, 30, 90);
}
.icon-dl-slack .path2:before {
  content: "\eb7e";
  margin-left: -1em;
  color: rgb(224, 30, 90);
}
.icon-dl-slack .path3:before {
  content: "\eb7f";
  margin-left: -1em;
  color: rgb(54, 197, 240);
}
.icon-dl-slack .path4:before {
  content: "\eb80";
  margin-left: -1em;
  color: rgb(54, 197, 240);
}
.icon-dl-slack .path5:before {
  content: "\eb81";
  margin-left: -1em;
  color: rgb(46, 182, 125);
}
.icon-dl-slack .path6:before {
  content: "\eb82";
  margin-left: -1em;
  color: rgb(46, 182, 125);
}
.icon-dl-slack .path7:before {
  content: "\eb83";
  margin-left: -1em;
  color: rgb(236, 178, 46);
}
.icon-dl-slack .path8:before {
  content: "\eb84";
  margin-left: -1em;
  color: rgb(236, 178, 46);
}
.icon-dl-slack-bw:before {
  content: "\eb85";
}
.icon-dl-smart:before {
  content: "\eb86";
}
.icon-dl-smart-search:before {
  content: "\eb87";
}
.icon-dl-smart-search-temporary:before {
  content: "\eb88";
}
.icon-dl-snapshot:before {
  content: "\eb89";
}
.icon-dl-snowflake:before {
  content: "\eb8a";
  color: #249edc;
}
.icon-dl-soil:before {
  content: "\eb8b";
}
.icon-dl-solutions:before {
  content: "\eb8c";
}
.icon-dl-sort:before {
  content: "\eb8d";
}
.icon-dl-speech-brain .path1:before {
  content: "\eb8e";
  color: rgb(255, 255, 255);
}
.icon-dl-speech-brain .path2:before {
  content: "\eb8f";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path3:before {
  content: "\eb90";
  margin-left: -1em;
  color: rgb(50, 140, 231);
}
.icon-dl-speech-brain .path4:before {
  content: "\eb91";
  margin-left: -1em;
  color: rgb(50, 140, 231);
}
.icon-dl-speech-brain .path5:before {
  content: "\eb92";
  margin-left: -1em;
  color: rgb(50, 140, 231);
}
.icon-dl-speech-brain .path6:before {
  content: "\eb93";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path7:before {
  content: "\eb94";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path8:before {
  content: "\eb95";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path9:before {
  content: "\eb96";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path10:before {
  content: "\eb97";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path11:before {
  content: "\eb98";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-speech-brain .path12:before {
  content: "\eb99";
  margin-left: -1em;
  color: rgb(88, 88, 88);
}
.icon-dl-split:before {
  content: "\eb9a";
}
.icon-dl-split-image:before {
  content: "\eb9b";
}
.icon-dl-split-image-with-mask:before {
  content: "\eb9c";
}
.icon-dl-stability-ai .path1:before {
  content: "\eb9d";
  color: rgb(0, 0, 0);
}
.icon-dl-stability-ai .path2:before {
  content: "\eb9e";
  margin-left: -1em;
  color: rgb(232, 0, 0);
}
.icon-dl-stars:before {
  content: "\eb9f";
}
.icon-dl-start-pipeline:before {
  content: "\eba0";
}
.icon-dl-statistics:before {
  content: "\eba1";
}
.icon-dl-status:before {
  content: "\eba2";
}
.icon-dl-status-filled:before {
  content: "\eba3";
}
.icon-dl-stop:before {
  content: "\eba4";
}
.icon-dl-string:before {
  content: "\eba5";
}
.icon-dl-superpixel-filled:before {
  content: "\eba6";
}
.icon-dl-support:before {
  content: "\eba7";
}
.icon-dl-sync-dataset:before {
  content: "\eba8";
}
.icon-dl-task:before {
  content: "\eba9";
}
.icon-dl-task-filled:before {
  content: "\ebaa";
}
.icon-dl-temperature:before {
  content: "\ebab";
}
.icon-dl-tensor-flow:before {
  content: "\ebac";
}
.icon-dl-text:before {
  content: "\ebad";
}
.icon-dl-text-detection:before {
  content: "\ebae";
}
.icon-dl-text-file:before {
  content: "\ebaf";
}
.icon-dl-thumbnail:before {
  content: "\ebb0";
}
.icon-dl-time:before {
  content: "\ebb1";
}
.icon-dl-timer:before {
  content: "\ebb2";
}
.icon-dl-top-view:before {
  content: "\ebb3";
}
.icon-dl-train:before {
  content: "\ebb4";
}
.icon-dl-translate:before {
  content: "\ebb5";
}
.icon-dl-trigger:before {
  content: "\ebb6";
}
.icon-dl-trigger-filled:before {
  content: "\ebb7";
}
.icon-dl-two-lines:before {
  content: "\ebb8";
}
.icon-dl-ultralytics .path1:before {
  content: "\ebb9";
  color: rgb(0, 0, 0);
}
.icon-dl-ultralytics .path2:before {
  content: "\ebba";
  margin-left: -1em;
  color: rgb(11, 35, 169);
}
.icon-dl-ultralytics-dark:before {
  content: "\ebbb";
  color: #fff;
}
.icon-dl-ultralytics-light:before {
  content: "\ebbc";
}
.icon-dl-undefined-label:before {
  content: "\ebbd";
}
.icon-dl-undo:before {
  content: "\ebbe";
}
.icon-dl-unionpay .path1:before {
  content: "\ebbf";
  color: rgb(255, 255, 255);
}
.icon-dl-unionpay .path2:before {
  content: "\ebc0";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-unionpay .path3:before {
  content: "\ebc1";
  margin-left: -1em;
  color: rgb(0, 157, 165);
}
.icon-dl-unionpay .path4:before {
  content: "\ebc2";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path5:before {
  content: "\ebc3";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path6:before {
  content: "\ebc4";
  margin-left: -1em;
  color: rgb(0, 157, 165);
}
.icon-dl-unionpay .path7:before {
  content: "\ebc5";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path8:before {
  content: "\ebc6";
  margin-left: -1em;
  color: rgb(255, 127, 41);
}
.icon-dl-unionpay .path9:before {
  content: "\ebc7";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path10:before {
  content: "\ebc8";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path11:before {
  content: "\ebc9";
  margin-left: -1em;
  color: rgb(165, 0, 47);
}
.icon-dl-unionpay .path12:before {
  content: "\ebca";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path13:before {
  content: "\ebcb";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path14:before {
  content: "\ebcc";
  margin-left: -1em;
  color: rgb(19, 152, 226);
}
.icon-dl-unionpay .path15:before {
  content: "\ebcd";
  margin-left: -1em;
  color: rgb(8, 114, 185);
}
.icon-dl-unionpay .path16:before {
  content: "\ebce";
  margin-left: -1em;
  color: rgb(5, 80, 147);
}
.icon-dl-unionpay .path17:before {
  content: "\ebcf";
  margin-left: -1em;
  color: rgb(8, 114, 185);
}
.icon-dl-unionpay .path18:before {
  content: "\ebd0";
  margin-left: -1em;
  color: rgb(5, 80, 147);
}
.icon-dl-unionpay .path19:before {
  content: "\ebd1";
  margin-left: -1em;
  color: rgb(165, 0, 47);
}
.icon-dl-unite:before {
  content: "\ebd2";
}
.icon-dl-unmasked-pixel-filled:before {
  content: "\ebd3";
}
.icon-dl-unpin:before {
  content: "\ebd4";
}
.icon-dl-unpin-filled:before {
  content: "\ebd5";
}
.icon-dl-unstucturedio:before {
  content: "\ebd6";
}
.icon-dl-unsupported-file:before {
  content: "\ebd7";
}
.icon-dl-unsupported-file-filled:before {
  content: "\ebd8";
}
.icon-dl-unum:before {
  content: "\ebd9";
}
.icon-dl-up-chevron:before {
  content: "\ebda";
}
.icon-dl-upload:before {
  content: "\ebdb";
}
.icon-dl-usage:before {
  content: "\ebdc";
}
.icon-dl-variable:before {
  content: "\ebdd";
}
.icon-dl-vehicles:before {
  content: "\ebde";
}
.icon-dl-version:before {
  content: "\ebdf";
}
.icon-dl-vertex-ai .path1:before {
  content: "\ebe0";
  color: rgb(102, 157, 246);
}
.icon-dl-vertex-ai .path2:before {
  content: "\ebe1";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path3:before {
  content: "\ebe2";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path4:before {
  content: "\ebe3";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path5:before {
  content: "\ebe4";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path6:before {
  content: "\ebe5";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path7:before {
  content: "\ebe6";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path8:before {
  content: "\ebe7";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path9:before {
  content: "\ebe8";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path10:before {
  content: "\ebe9";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path11:before {
  content: "\ebea";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path12:before {
  content: "\ebeb";
  margin-left: -1em;
  color: rgb(102, 157, 246);
}
.icon-dl-vertex-ai .path13:before {
  content: "\ebec";
  margin-left: -1em;
  color: rgb(102, 157, 246);
}
.icon-dl-vertex-ai .path14:before {
  content: "\ebed";
  margin-left: -1em;
  color: rgb(102, 157, 246);
}
.icon-dl-vertex-ai .path15:before {
  content: "\ebee";
  margin-left: -1em;
  color: rgb(102, 157, 246);
}
.icon-dl-vertex-ai .path16:before {
  content: "\ebef";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path17:before {
  content: "\ebf0";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path18:before {
  content: "\ebf1";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path19:before {
  content: "\ebf2";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-dl-vertex-ai .path20:before {
  content: "\ebf3";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path21:before {
  content: "\ebf4";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path22:before {
  content: "\ebf5";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-vertex-ai .path23:before {
  content: "\ebf6";
  margin-left: -1em;
  color: rgb(174, 203, 250);
}
.icon-dl-video-end:before {
  content: "\ebf7";
}
.icon-dl-video-filled:before {
  content: "\ebf8";
}
.icon-dl-view:before {
  content: "\ebf9";
}
.icon-dl-visa .path1:before {
  content: "\ebfa";
  color: rgb(255, 255, 255);
}
.icon-dl-visa .path2:before {
  content: "\ebfb";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-visa .path3:before {
  content: "\ebfc";
  margin-left: -1em;
  color: rgb(26, 42, 223);
}
.icon-dl-web-detection:before {
  content: "\ebfd";
}
.icon-dl-window:before {
  content: "\ebfe";
}
.icon-dl-workflows:before {
  content: "\ebff";
}
.icon-dl-workflows-outline:before {
  content: "\ec00";
}
.icon-dl-youtube:before {
  content: "\ec02";
}
.icon-dl-zoom-in:before {
  content: "\ec03";
}
.icon-dl-zoom-out:before {
  content: "\ec04";
}
