@font-face {
  font-family: 'dl-icons';
  src:  url('fonts/dl-icons.eot?pt4zqc');
  src:  url('fonts/dl-icons.eot?pt4zqc#iefix') format('embedded-opentype'),
    url('fonts/dl-icons.ttf?pt4zqc') format('truetype'),
    url('fonts/dl-icons.woff?pt4zqc') format('woff'),
    url('fonts/dl-icons.svg?pt4zqc#dl-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-dl-"], [class*=" icon-dl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dl-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dl-5-sec-back:before {
  content: "\e961";
}
.icon-dl-5-sec-next:before {
  content: "\e962";
}
.icon-dl-dataloop .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-dl-dataloop .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-dl-dataloop .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(239, 98, 132);
}
.icon-dl-dataloop .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(239, 98, 132);
}
.icon-dl-dataloop .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-dataloop .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-dataloop .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 215, 226);
}
.icon-dl-getty-images-dark:before {
  content: "\e907";
}
.icon-dl-getty-images-light:before {
  content: "\e908";
  color: #fff;
}
.icon-dl-gcp:before {
  content: "\e909";
}
.icon-dl-azure:before {
  content: "\e90a";
}
.icon-dl-fsx .path1:before {
  content: "\e90b";
  color: rgb(0, 0, 0);
}
.icon-dl-fsx .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-intel:before {
  content: "\e90d";
  color: #0e7dc2;
}
.icon-dl-netapp:before {
  content: "\e90e";
  color: #0077c0;
}
.icon-dl-ultralytics .path1:before {
  content: "\e90f";
  color: rgb(0, 0, 0);
}
.icon-dl-ultralytics .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(11, 35, 169);
}
.icon-dl-aws-dark .path1:before {
  content: "\e911";
  color: rgb(255, 255, 255);
}
.icon-dl-aws-dark .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-dark .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-light .path1:before {
  content: "\e914";
  color: rgb(37, 47, 62);
}
.icon-dl-aws-light .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-aws-light .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 153, 0);
}
.icon-dl-microsoft .path1:before {
  content: "\e917";
  color: rgb(241, 81, 27);
}
.icon-dl-microsoft .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(128, 204, 40);
}
.icon-dl-microsoft .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 173, 239);
}
.icon-dl-microsoft .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(251, 188, 9);
}
.icon-dl-ultralytics-dark:before {
  content: "\e91b";
  color: #fff;
}
.icon-dl-ultralytics-light:before {
  content: "\e91c";
}
.icon-dl-meta:before {
  content: "\e91d";
}
.icon-dl-stars:before {
  content: "\e91e";
}
.icon-dl-amd:before {
  content: "\e91f";
  color: #00a774;
}
.icon-dl-qualcomm:before {
  content: "\e920";
  color: #3253dc;
}
.icon-dl-conversation:before {
  content: "\e921";
}
.icon-dl-license:before {
  content: "\e922";
}
.icon-dl-google .path1:before {
  content: "\e923";
  color: rgb(66, 133, 244);
}
.icon-dl-google .path2:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-dl-google .path3:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(251, 188, 4);
}
.icon-dl-google .path4:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-dl-hugging-face .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.icon-dl-hugging-face .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 157, 0);
}
.icon-dl-hugging-face .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 210, 30);
}
.icon-dl-hugging-face .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(50, 52, 61);
}
.icon-dl-hugging-face .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 50, 61);
}
.icon-dl-hugging-face .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 173, 3);
}
.icon-dl-multi-modal:before {
  content: "\e92d";
}
.icon-dl-nvidia:before {
  content: "\e92e";
  color: #76b900;
}
.icon-dl-ocr:before {
  content: "\e92f";
}
.icon-dl-open-ai:before {
  content: "\e930";
  color: #74aa9c;
}
.icon-dl-open-mm-labs:before {
  content: "\e931";
}
.icon-dl-python:before {
  content: "\e932";
}
.icon-dl-translate:before {
  content: "\e933";
}
.icon-dl-add-filled:before {
  content: "\e934";
}
.icon-dl-cloud-ops:before {
  content: "\e935";
}
.icon-dl-delete-filled:before {
  content: "\e936";
}
.icon-dl-enter:before {
  content: "\e937";
}
.icon-dl-expand-4:before {
  content: "\e938";
}
.icon-dl-filter-filled-2:before {
  content: "\e939";
}
.icon-dl-donuts:before {
  content: "\e93a";
}
.icon-dl-annotation-filled-1:before {
  content: "\e93b";
}
.icon-dl-annotation-outline-1:before {
  content: "\e93c";
}
.icon-dl-debug:before {
  content: "\e93d";
}
.icon-dl-developer:before {
  content: "\e93e";
}
.icon-dl-window:before {
  content: "\e93f";
}
.icon-dl-critical:before {
  content: "\e940";
}
.icon-dl-crown-filled:before {
  content: "\e941";
}
.icon-dl-crown-outline:before {
  content: "\e942";
}
.icon-dl-file-filled:before {
  content: "\e943";
}
.icon-dl-hide-filled:before {
  content: "\e944";
}
.icon-dl-show-filled:before {
  content: "\e945";
}
.icon-dl-js:before {
  content: "\e946";
}
.icon-dl-audio-filled:before {
  content: "\e947";
}
.icon-dl-pdf-filled:before {
  content: "\e948";
}
.icon-dl-text-file:before {
  content: "\e949";
}
.icon-dl-video-filled:before {
  content: "\e94a";
}
.icon-dl-cloud-editor-filled:before {
  content: "\e94b";
}
.icon-dl-collapse-3:before {
  content: "\e94c";
}
.icon-dl-down-chevron:before {
  content: "\e94d";
}
.icon-dl-expand-3:before {
  content: "\e94e";
}
.icon-dl-governance-filled:before {
  content: "\e94f";
}
.icon-dl-governance-outline:before {
  content: "\e950";
}
.icon-dl-integration-outline:before {
  content: "\e951";
}
.icon-dl-left-chevron:before {
  content: "\e952";
}
.icon-dl-lock-outline:before {
  content: "\e953";
}
.icon-dl-modality:before {
  content: "\e954";
}
.icon-dl-right-chevron:before {
  content: "\e955";
}
.icon-dl-up-chevron:before {
  content: "\e956";
}
.icon-dl-pose:before {
  content: "\e957";
}
.icon-dl-qa-filled:before {
  content: "\e958";
}
.icon-dl-undefined-label:before {
  content: "\e959";
}
.icon-dl-apps:before {
  content: "\e95a";
}
.icon-dl-refresh:before {
  content: "\e95b";
}
.icon-dl-1:before {
  content: "\e95c";
}
.icon-dl-2:before {
  content: "\e95d";
}
.icon-dl-3:before {
  content: "\e95e";
}
.icon-dl-3d-rotate:before {
  content: "\e95f";
}
.icon-dl-4:before {
  content: "\e960";
}
.icon-dl-5:before {
  content: "\e963";
}
.icon-dl-account:before {
  content: "\e964";
}
.icon-dl-add-folder:before {
  content: "\e965";
}
.icon-dl-add-user:before {
  content: "\e966";
}
.icon-dl-add:before {
  content: "\e967";
}
.icon-dl-adjustment:before {
  content: "\e968";
}
.icon-dl-agriculture:before {
  content: "\e969";
}
.icon-dl-ai:before {
  content: "\e96a";
}
.icon-dl-alert-filled:before {
  content: "\e96b";
}
.icon-dl-alert:before {
  content: "\e96c";
}
.icon-dl-align-left:before {
  content: "\e96d";
}
.icon-dl-american_express .path1:before {
  content: "\e96e";
  color: rgb(255, 255, 255);
}
.icon-dl-american_express .path2:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-american_express .path3:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path4:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path5:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(5, 113, 193);
}
.icon-dl-american_express .path6:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path7:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path8:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(5, 113, 193);
}
.icon-dl-american_express .path9:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path10:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path11:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path12:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path13:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path14:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path15:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path16:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path17:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(47, 171, 247);
}
.icon-dl-american_express .path18:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path19:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path20:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path21:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-american_express .path22:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(34, 143, 224);
}
.icon-dl-analytics-outline:before {
  content: "\e984";
}
.icon-dl-analytics:before {
  content: "\e985";
}
.icon-dl-anchor:before {
  content: "\e986";
}
.icon-dl-annotation-filled:before {
  content: "\e987";
}
.icon-dl-annotation-outline:before {
  content: "\e988";
}
.icon-dl-annotation-studio-filled:before {
  content: "\e989";
}
.icon-dl-annotation-studio:before {
  content: "\e98a";
}
.icon-dl-announcement:before {
  content: "\e98b";
}
.icon-dl-api-outline:before {
  content: "\e98c";
}
.icon-dl-api:before {
  content: "\e98d";
}
.icon-dl-approve-filled:before {
  content: "\e98e";
}
.icon-dl-approve:before {
  content: "\e98f";
}
.icon-dl-archive:before {
  content: "\e990";
}
.icon-dl-arrow-down:before {
  content: "\e991";
}
.icon-dl-arrow-left:before {
  content: "\e992";
}
.icon-dl-arrow-right:before {
  content: "\e993";
}
.icon-dl-arrow-up:before {
  content: "\e994";
}
.icon-dl-assignment-filled:before {
  content: "\e995";
}
.icon-dl-assignment:before {
  content: "\e996";
}
.icon-dl-at:before {
  content: "\e997";
}
.icon-dl-attach:before {
  content: "\e998";
}
.icon-dl-attribute:before {
  content: "\e999";
}
.icon-dl-audio:before {
  content: "\e99a";
}
.icon-dl-audit-outline:before {
  content: "\e99b";
}
.icon-dl-audit:before {
  content: "\e99c";
}
.icon-dl-avatar:before {
  content: "\e99d";
}
.icon-dl-back-frame:before {
  content: "\e99e";
}
.icon-dl-back:before {
  content: "\e99f";
}
.icon-dl-bar-chart:before {
  content: "\e9a0";
}
.icon-dl-billing-outline:before {
  content: "\e9a1";
}
.icon-dl-billing:before {
  content: "\e9a2";
}
.icon-dl-box:before {
  content: "\e9a3";
}
.icon-dl-brush-filled:before {
  content: "\e9a4";
}
.icon-dl-brush:before {
  content: "\e9a5";
}
.icon-dl-bucket-filled:before {
  content: "\e9a6";
}
.icon-dl-camera-helper:before {
  content: "\e9a7";
}
.icon-dl-card-view:before {
  content: "\e9a8";
}
.icon-dl-cart:before {
  content: "\e9a9";
}
.icon-dl-change-view:before {
  content: "\e9aa";
}
.icon-dl-classification:before {
  content: "\e9ab";
}
.icon-dl-clone:before {
  content: "\e9ac";
}
.icon-dl-close:before {
  content: "\e9ad";
}
.icon-dl-cloud-editor:before {
  content: "\e9ae";
}
.icon-dl-cloud-server:before {
  content: "\e9af";
}
.icon-dl-cloud-storage-filled:before {
  content: "\e9b0";
}
.icon-dl-cloud-storage:before {
  content: "\e9b1";
}
.icon-dl-code:before {
  content: "\e9b2";
}
.icon-dl-coins:before {
  content: "\e9b3";
}
.icon-dl-collapse:before {
  content: "\e9b4";
}
.icon-dl-colors:before {
  content: "\e9b5";
}
.icon-dl-column:before {
  content: "\e9b6";
}
.icon-dl-command:before {
  content: "\e9b7";
}
.icon-dl-compare:before {
  content: "\e9b8";
}
.icon-dl-confetti .path1:before {
  content: "\e9b9";
  color: rgb(41, 206, 246);
}
.icon-dl-confetti .path2:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(247, 142, 54);
}
.icon-dl-confetti .path3:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(248, 111, 27);
}
.icon-dl-confetti .path4:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path5:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path6:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path7:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path8:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(243, 243, 243);
}
.icon-dl-confetti .path9:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-confetti .path10:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path11:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-confetti .path12:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path13:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-confetti .path14:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(255, 195, 40);
}
.icon-dl-confetti .path15:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-dl-confetti .path16:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(255, 195, 40);
}
.icon-dl-confetti .path17:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 160, 0);
}
.icon-dl-confetti .path18:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(41, 206, 246);
}
.icon-dl-confetti .path19:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(247, 86, 50);
}
.icon-dl-confetti .path20:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(255, 213, 79);
}
.icon-dl-content-media:before {
  content: "\e9cd";
}
.icon-dl-contributors-filled:before {
  content: "\e9ce";
}
.icon-dl-contributors-outline:before {
  content: "\e9cf";
}
.icon-dl-copy:before {
  content: "\e9d0";
}
.icon-dl-crop:before {
  content: "\e9d1";
}
.icon-dl-cubiod:before {
  content: "\e9d2";
}
.icon-dl-dark-theme:before {
  content: "\e9d3";
}
.icon-dl-dashboard:before {
  content: "\e9d4";
}
.icon-dl-data-browser:before {
  content: "\e9d5";
}
.icon-dl-data-management-filled:before {
  content: "\e9d6";
}
.icon-dl-data-management:before {
  content: "\e9d7";
}
.icon-dl-data-science:before {
  content: "\e9d8";
}
.icon-dl-dataset-filled:before {
  content: "\e9d9";
}
.icon-dl-dataset:before {
  content: "\e9da";
}
.icon-dl-date:before {
  content: "\e9db";
}
.icon-dl-debit .path1:before {
  content: "\e9dc";
  color: rgb(255, 255, 255);
}
.icon-dl-debit .path2:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-debit .path3:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path4:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path5:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path6:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path7:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path8:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path9:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path10:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-debit .path11:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(29, 29, 27);
}
.icon-dl-delete:before {
  content: "\e9e7";
}
.icon-dl-description:before {
  content: "\e9e8";
}
.icon-dl-diner .path1:before {
  content: "\e9e9";
  color: rgb(255, 255, 255);
}
.icon-dl-diner .path2:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-diner .path3:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path4:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path5:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon-dl-diner .path6:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(2, 53, 99);
}
.icon-dl-diner .path7:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path8:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path9:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path10:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path11:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path12:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path13:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path14:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path15:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path16:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path17:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path18:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path19:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path20:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path21:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path22:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path23:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path24:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path25:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path26:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path27:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path28:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path29:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path30:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path31:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path32:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path33:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path34:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path35:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path36:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path37:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path38:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path39:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path40:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path41:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path42:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path43:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-diner .path44:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(0, 74, 151);
}
.icon-dl-diner .path45:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(0, 106, 201);
}
.icon-dl-discard-filled:before {
  content: "\ea16";
}
.icon-dl-discard:before {
  content: "\ea17";
}
.icon-dl-disconnect-all-children:before {
  content: "\ea18";
}
.icon-dl-disconnect-from-parent:before {
  content: "\ea19";
}
.icon-dl-discover .path1:before {
  content: "\ea1a";
  color: rgb(255, 255, 255);
}
.icon-dl-discover .path2:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-discover .path3:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(52, 73, 94);
}
.icon-dl-discover .path4:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(242, 110, 33);
}
.icon-dl-discover .path5:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path6:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path7:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path8:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path9:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path10:before {
  content: "\ea23";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-discover .path11:before {
  content: "\ea24";
  margin-left: -1em;
  color: rgb(231, 232, 227);
}
.icon-dl-display:before {
  content: "\ea25";
}
.icon-dl-distribution-filled:before {
  content: "\ea26";
}
.icon-dl-distribution:before {
  content: "\ea27";
}
.icon-dl-divide:before {
  content: "\ea28";
}
.icon-dl-dot-menu:before {
  content: "\ea29";
}
.icon-dl-dot:before {
  content: "\ea2a";
}
.icon-dl-download:before {
  content: "\ea2b";
}
.icon-dl-drag:before {
  content: "\ea2c";
}
.icon-dl-drone:before {
  content: "\ea2d";
}
.icon-dl-edit-filled:before {
  content: "\ea2e";
}
.icon-dl-edit:before {
  content: "\ea2f";
}
.icon-dl-ellipse:before {
  content: "\ea30";
}
.icon-dl-enterprise:before {
  content: "\ea31";
}
.icon-dl-eraser-filled:before {
  content: "\ea32";
}
.icon-dl-eraser-freehand:before {
  content: "\ea33";
}
.icon-dl-eraser-outline:before {
  content: "\ea34";
}
.icon-dl-error-filled:before {
  content: "\ea35";
}
.icon-dl-error:before {
  content: "\ea36";
}
.icon-dl-execution-filled:before {
  content: "\ea37";
}
.icon-dl-execution:before {
  content: "\ea38";
}
.icon-dl-expand:before {
  content: "\ea39";
}
.icon-dl-export:before {
  content: "\ea3a";
}
.icon-dl-faas-outline:before {
  content: "\ea3b";
}
.icon-dl-faas:before {
  content: "\ea3c";
}
.icon-dl-file:before {
  content: "\ea3d";
}
.icon-dl-filter:before {
  content: "\ea3e";
}
.icon-dl-finish:before {
  content: "\ea3f";
}
.icon-dl-first-page:before {
  content: "\ea40";
}
.icon-dl-fit-to-screen-1:before {
  content: "\ea41";
}
.icon-dl-fit-to-screen:before {
  content: "\ea42";
}
.icon-dl-flag-filled:before {
  content: "\ea43";
}
.icon-dl-flag:before {
  content: "\ea44";
}
.icon-dl-float:before {
  content: "\ea45";
}
.icon-dl-focus:before {
  content: "\ea46";
}
.icon-dl-folder-filled:before {
  content: "\ea47";
}
.icon-dl-folder:before {
  content: "\ea48";
}
.icon-dl-front-view:before {
  content: "\ea49";
}
.icon-dl-full-screen-1:before {
  content: "\ea4a";
}
.icon-dl-full-screen:before {
  content: "\ea4b";
}
.icon-dl-function:before {
  content: "\ea4c";
}
.icon-dl-github:before {
  content: "\ea4d";
}
.icon-dl-group-filled:before {
  content: "\ea4e";
}
.icon-dl-group:before {
  content: "\ea4f";
}
.icon-dl-grouping:before {
  content: "\ea50";
}
.icon-dl-hamburger-menu:before {
  content: "\ea51";
}
.icon-dl-hide:before {
  content: "\ea52";
}
.icon-dl-history:before {
  content: "\ea53";
}
.icon-dl-home:before {
  content: "\ea54";
}
.icon-dl-hub-filled:before {
  content: "\ea55";
}
.icon-dl-hub:before {
  content: "\ea56";
}
.icon-dl-id:before {
  content: "\ea57";
}
.icon-dl-import:before {
  content: "\ea58";
}
.icon-dl-info-filled:before {
  content: "\ea59";
}
.icon-dl-info:before {
  content: "\ea5a";
}
.icon-dl-infokeyboard:before {
  content: "\ea5b";
}
.icon-dl-integer:before {
  content: "\ea5c";
}
.icon-dl-integration:before {
  content: "\ea5d";
}
.icon-dl-item-filled:before {
  content: "\ea5e";
}
.icon-dl-item-outline:before {
  content: "\ea5f";
}
.icon-dl-jcb .path1:before {
  content: "\ea60";
  color: rgb(255, 255, 255);
}
.icon-dl-jcb .path2:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-jcb .path3:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(17, 116, 206);
}
.icon-dl-jcb .path4:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(15, 84, 157);
}
.icon-dl-jcb .path5:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(2, 55, 94);
}
.icon-dl-jcb .path6:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path7:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(27, 204, 56);
}
.icon-dl-jcb .path8:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(50, 153, 71);
}
.icon-dl-jcb .path9:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path10:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(20, 102, 67);
}
.icon-dl-jcb .path11:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(226, 14, 55);
}
.icon-dl-jcb .path12:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(180, 31, 54);
}
.icon-dl-jcb .path13:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(114, 10, 30);
}
.icon-dl-json-node:before {
  content: "\ea6d";
}
.icon-dl-json:before {
  content: "\ea6e";
}
.icon-dl-keyback:before {
  content: "\ea6f";
}
.icon-dl-keyboard:before {
  content: "\ea70";
}
.icon-dl-keynext:before {
  content: "\ea71";
}
.icon-dl-label:before {
  content: "\ea72";
}
.icon-dl-last-page:before {
  content: "\ea73";
}
.icon-dl-launch .path1:before {
  content: "\ea74";
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path2:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(127, 150, 209);
}
.icon-dl-launch .path3:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path4:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path5:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path6:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(78, 106, 255);
}
.icon-dl-launch .path7:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(52, 82, 255);
}
.icon-dl-launch .path8:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(78, 106, 255);
}
.icon-dl-launch .path9:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path10:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path11:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path12:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-dl-launch .path13:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path14:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(231, 239, 255);
}
.icon-dl-launch .path15:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path16:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(225, 183, 91);
}
.icon-dl-launch .path17:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(0, 222, 147);
}
.icon-dl-launch .path18:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(0, 222, 147);
}
.icon-dl-lidar:before {
  content: "\ea86";
}
.icon-dl-light-theme:before {
  content: "\ea87";
}
.icon-dl-linear:before {
  content: "\ea88";
}
.icon-dl-link:before {
  content: "\ea89";
}
.icon-dl-list-confirm:before {
  content: "\ea8a";
}
.icon-dl-list-copy-annotations:before {
  content: "\ea8b";
}
.icon-dl-list-view:before {
  content: "\ea8c";
}
.icon-dl-loading:before {
  content: "\ea8d";
}
.icon-dl-local-database:before {
  content: "\ea8e";
}
.icon-dl-lock:before {
  content: "\ea8f";
}
.icon-dl-log-out:before {
  content: "\ea90";
}
.icon-dl-loop:before {
  content: "\ea91";
}
.icon-dl-magic:before {
  content: "\ea92";
}
.icon-dl-marker:before {
  content: "\ea93";
}
.icon-dl-mastercard .path1:before {
  content: "\ea94";
  color: rgb(255, 255, 255);
}
.icon-dl-mastercard .path2:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-mastercard .path3:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(253, 161, 53);
}
.icon-dl-mastercard .path4:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(251, 33, 41);
}
.icon-dl-medical:before {
  content: "\ea98";
}
.icon-dl-members-outline:before {
  content: "\ea99";
}
.icon-dl-members:before {
  content: "\ea9a";
}
.icon-dl-merge:before {
  content: "\ea9b";
}
.icon-dl-minus:before {
  content: "\ea9c";
}
.icon-dl-models-management-filled:before {
  content: "\ea9d";
}
.icon-dl-models-management:before {
  content: "\ea9e";
}
.icon-dl-models:before {
  content: "\ea9f";
}
.icon-dl-move-to-folder:before {
  content: "\eaa0";
}
.icon-dl-move-tool:before {
  content: "\eaa1";
}
.icon-dl-mute:before {
  content: "\eaa2";
}
.icon-dl-new-window:before {
  content: "\eaa3";
}
.icon-dl-next-frame:before {
  content: "\eaa4";
}
.icon-dl-next:before {
  content: "\eaa5";
}
.icon-dl-no-output:before {
  content: "\eaa6";
}
.icon-dl-node-predict:before {
  content: "\eaa7";
}
.icon-dl-node-train:before {
  content: "\eaa8";
}
.icon-dl-note-tool:before {
  content: "\eaa9";
}
.icon-dl-notification:before {
  content: "\eaaa";
}
.icon-dl-ontology-filled:before {
  content: "\eaab";
}
.icon-dl-ontology:before {
  content: "\eaac";
}
.icon-dl-opacity:before {
  content: "\eaad";
}
.icon-dl-open-folder:before {
  content: "\eaae";
}
.icon-dl-org-projects:before {
  content: "\eaaf";
}
.icon-dl-organization-outline:before {
  content: "\eab0";
}
.icon-dl-organization:before {
  content: "\eab1";
}
.icon-dl-other:before {
  content: "\eab2";
}
.icon-dl-oval:before {
  content: "\eab3";
}
.icon-dl-overview:before {
  content: "\eab4";
}
.icon-dl-package-filled:before {
  content: "\eab5";
}
.icon-dl-panel-resize:before {
  content: "\eab6";
}
.icon-dl-parenting:before {
  content: "\eab7";
}
.icon-dl-paste:before {
  content: "\eab8";
}
.icon-dl-pause:before {
  content: "\eab9";
}
.icon-dl-pdf:before {
  content: "\eaba";
}
.icon-dl-pin-mark:before {
  content: "\eabb";
}
.icon-dl-pipeline-filled:before {
  content: "\eabc";
}
.icon-dl-pipeline:before {
  content: "\eabd";
}
.icon-dl-plan-filled:before {
  content: "\eabe";
}
.icon-dl-plan:before {
  content: "\eabf";
}
.icon-dl-platform-release-notes-filled:before {
  content: "\eac0";
}
.icon-dl-platform-release-notes:before {
  content: "\eac1";
}
.icon-dl-play:before {
  content: "\eac2";
}
.icon-dl-plus:before {
  content: "\eac3";
}
.icon-dl-point:before {
  content: "\eac4";
}
.icon-dl-poligonal-hand-filled:before {
  content: "\eac5";
}
.icon-dl-polygon:before {
  content: "\eac6";
}
.icon-dl-polyline:before {
  content: "\eac7";
}
.icon-dl-previous-page:before {
  content: "\eac8";
}
.icon-dl-project-filled:before {
  content: "\eac9";
}
.icon-dl-project:before {
  content: "\eaca";
}
.icon-dl-pulling-filled:before {
  content: "\eacb";
}
.icon-dl-pulling:before {
  content: "\eacc";
}
.icon-dl-qa-sampling:before {
  content: "\eacd";
}
.icon-dl-qa:before {
  content: "\eace";
}
.icon-dl-query:before {
  content: "\eacf";
}
.icon-dl-question:before {
  content: "\ead0";
}
.icon-dl-queue:before {
  content: "\ead1";
}
.icon-dl-recipe-filled:before {
  content: "\ead2";
}
.icon-dl-recipe:before {
  content: "\ead3";
}
.icon-dl-redo:before {
  content: "\ead4";
}
.icon-dl-related-filled:before {
  content: "\ead5";
}
.icon-dl-related:before {
  content: "\ead6";
}
.icon-dl-replace:before {
  content: "\ead7";
}
.icon-dl-replay:before {
  content: "\ead8";
}
.icon-dl-rerun:before {
  content: "\ead9";
}
.icon-dl-reset:before {
  content: "\eada";
}
.icon-dl-resize:before {
  content: "\eadb";
}
.icon-dl-right-next-page:before {
  content: "\eadc";
}
.icon-dl-roi-filled:before {
  content: "\eadd";
}
.icon-dl-rotate:before {
  content: "\eade";
}
.icon-dl-save-as:before {
  content: "\eadf";
}
.icon-dl-save-filled:before {
  content: "\eae0";
}
.icon-dl-save:before {
  content: "\eae1";
}
.icon-dl-scale:before {
  content: "\eae2";
}
.icon-dl-sdk-documentation:before {
  content: "\eae3";
}
.icon-dl-sdk-release-notes:before {
  content: "\eae4";
}
.icon-dl-search:before {
  content: "\eae5";
}
.icon-dl-selection:before {
  content: "\eae6";
}
.icon-dl-semantic-filled:before {
  content: "\eae7";
}
.icon-dl-semantic-outline:before {
  content: "\eae8";
}
.icon-dl-services-filled:before {
  content: "\eae9";
}
.icon-dl-services:before {
  content: "\eaea";
}
.icon-dl-settings:before {
  content: "\eaeb";
}
.icon-dl-show:before {
  content: "\eaec";
}
.icon-dl-size-position:before {
  content: "\eaed";
}
.icon-dl-smart:before {
  content: "\eaee";
}
.icon-dl-snapshot:before {
  content: "\eaef";
}
.icon-dl-soil:before {
  content: "\eaf0";
}
.icon-dl-sort:before {
  content: "\eaf1";
}
.icon-dl-split:before {
  content: "\eaf2";
}
.icon-dl-start-pipeline:before {
  content: "\eaf3";
}
.icon-dl-statistics:before {
  content: "\eaf4";
}
.icon-dl-status-filled:before {
  content: "\eaf5";
}
.icon-dl-status:before {
  content: "\eaf6";
}
.icon-dl-stop:before {
  content: "\eaf7";
}
.icon-dl-string:before {
  content: "\eaf8";
}
.icon-dl-superpixel-filled:before {
  content: "\eaf9";
}
.icon-dl-support:before {
  content: "\eafa";
}
.icon-dl-sync-dataset:before {
  content: "\eafb";
}
.icon-dl-task-filled:before {
  content: "\eafc";
}
.icon-dl-task:before {
  content: "\eafd";
}
.icon-dl-text:before {
  content: "\eafe";
}
.icon-dl-thumbnail:before {
  content: "\eaff";
}
.icon-dl-time:before {
  content: "\eb00";
}
.icon-dl-timer:before {
  content: "\eb01";
}
.icon-dl-top-view:before {
  content: "\eb02";
}
.icon-dl-train:before {
  content: "\eb03";
}
.icon-dl-trigger-filled:before {
  content: "\eb04";
}
.icon-dl-trigger:before {
  content: "\eb05";
}
.icon-dl-two-lines:before {
  content: "\eb06";
}
.icon-dl-undo:before {
  content: "\eb07";
}
.icon-dl-unionpay .path1:before {
  content: "\eb08";
  color: rgb(255, 255, 255);
}
.icon-dl-unionpay .path2:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-unionpay .path3:before {
  content: "\eb0a";
  margin-left: -1em;
  color: rgb(0, 157, 165);
}
.icon-dl-unionpay .path4:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path5:before {
  content: "\eb0c";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path6:before {
  content: "\eb0d";
  margin-left: -1em;
  color: rgb(0, 157, 165);
}
.icon-dl-unionpay .path7:before {
  content: "\eb0e";
  margin-left: -1em;
  color: rgb(2, 204, 204);
}
.icon-dl-unionpay .path8:before {
  content: "\eb0f";
  margin-left: -1em;
  color: rgb(255, 127, 41);
}
.icon-dl-unionpay .path9:before {
  content: "\eb10";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path10:before {
  content: "\eb11";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path11:before {
  content: "\eb12";
  margin-left: -1em;
  color: rgb(165, 0, 47);
}
.icon-dl-unionpay .path12:before {
  content: "\eb13";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path13:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(234, 34, 39);
}
.icon-dl-unionpay .path14:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(19, 152, 226);
}
.icon-dl-unionpay .path15:before {
  content: "\eb16";
  margin-left: -1em;
  color: rgb(8, 114, 185);
}
.icon-dl-unionpay .path16:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(5, 80, 147);
}
.icon-dl-unionpay .path17:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(8, 114, 185);
}
.icon-dl-unionpay .path18:before {
  content: "\eb19";
  margin-left: -1em;
  color: rgb(5, 80, 147);
}
.icon-dl-unionpay .path19:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(165, 0, 47);
}
.icon-dl-unite:before {
  content: "\eb1b";
}
.icon-dl-unmasked-pixel-filled:before {
  content: "\eb1c";
}
.icon-dl-unsupported-file-filled:before {
  content: "\eb1d";
}
.icon-dl-unsupported-file:before {
  content: "\eb1e";
}
.icon-dl-upload:before {
  content: "\eb1f";
}
.icon-dl-usage:before {
  content: "\eb20";
}
.icon-dl-variable:before {
  content: "\eb21";
}
.icon-dl-vehicles:before {
  content: "\eb22";
}
.icon-dl-version:before {
  content: "\eb23";
}
.icon-dl-video-end:before {
  content: "\eb24";
}
.icon-dl-view:before {
  content: "\eb25";
}
.icon-dl-visa .path1:before {
  content: "\eb26";
  color: rgb(255, 255, 255);
}
.icon-dl-visa .path2:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(228, 228, 228);
}
.icon-dl-visa .path3:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(26, 42, 223);
}
.icon-dl-workflows-outline:before {
  content: "\eb29";
}
.icon-dl-workflows:before {
  content: "\eb2a";
}
.icon-dl-youtube:before {
  content: "\eb2b";
}
.icon-dl-zoom-in:before {
  content: "\eb2c";
}
.icon-dl-zoom-out:before {
  content: "\eb2d";
}
